.aboutt {
  background: #503c21;

  align-items: center;
  height: 100%;
    overflow: hidden;
  width: 100%;
  padding: 0px 50px;
}
.aboutconts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: space-between;
}
.aboutcont {
  color: white;
  text-align: left;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0 auto;
}
.abotmetexticonst {
  background-color: #ff9c0c;
  height: 32px;
  width: 32px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 11px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.reallaboutme {
  background-color: #ff9c0c;

  border-radius: 25px;
  padding: 25px;
  margin-right: 11px;

  margin-bottom: 44px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}
.abotmetextlines {
  display: flex;
  flex-direction: row;

  justify-content: left;
  align-items: center;
  align-content: space-between;
}
.aboutcontimg {
  margin: 10px 0px 66px 0px;
}

.largefeaturestext {
  color: white;
  text-align: center;
  padding-top: 70px;
  font-size: 60px;
  font-family: monospace;
  margin: 0 auto;
}
.aboutimageshadow {
  height: 400px;
   width: 200px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border-radius: 25px;
  transition: transform 0.3s; /* Animation */
}
.aboutimageshadow:hover {
  transform: scale(
    1.1
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
@media screen and (min-width: 1000px) {
  .aboutt {
    background: #503c21;

    align-items: center;
    height: 100vh;
    overflow: hidden;
    width: 100%;
    padding: 0px 50px;
  }

  .aboutcontimg {
    text-align: center;
    font-family: monospace;
    margin: 0 auto;
    padding-top: 102px;
  }

  .largefeaturestext {
    color: white;
    text-align: center;
    padding-top: 140px;
    font-size: 60px;
    font-family: monospace;
    margin: 0 auto;
  }
}
